FRONTEND_PORT=8080
API_PORT=3000

MYSQL_ROOT_PASSWORD=root1234
DB_DATABASE=gestion_entreprise
DB_USERNAME=skatys
DB_PASSWORD=skatys1234
DB_PORT=3306
DB_DIALECT=mysql

SALT_ROUNDS=10
SECRET_JWT=change-me-before-production
DB_CONNECT_RETRIES=30
DB_CONNECT_RETRY_DELAY_MS=2000

SEED_ADMIN_CIN=RH000001
SEED_ADMIN_PRENOM=Admin
SEED_ADMIN_NOM=RH
SEED_ADMIN_EMAIL=rh.admin@skatys.local
SEED_ADMIN_PASSWORD=Admin@123
